<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"> </ion-menu-button>

    <ion-title> Top Rated </ion-title>

    <!-- Filters -->
    <div slot="end" class="filters-box">
      <!-- Media Type -->
      <div class="filter-media">
        <ion-select
          interface="popover"
          placeholder="Select Media"
          [value]="mediaType.media_type"
          (ionChange)="updateMediaType($event)"
        >
          <ion-select-option value="movie">Movies</ion-select-option>
          <ion-select-option value="tv">Show</ion-select-option>
        </ion-select>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Top Rated</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-item-list
    [items]="items"
    (loadMoreItems)="loadMore($event)"
  ></app-item-list>
</ion-content>
