<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start"> Trending </ion-title>

    <!-- Filters -->
    <div slot="end" class="filters-box">
      <!-- Media Type -->
      <ion-list>
        <ion-item>
          <ion-select
            interface="popover"
            placeholder="Select Media"
            [value]="mediaType.media_type"
            (ionChange)="updateMediaType($event)"
          >
            <ion-select-option value="all">All</ion-select-option>
            <ion-select-option value="movie">Movies</ion-select-option>
            <ion-select-option value="tv">Show</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <!-- Time Window -->
      <ion-list>
        <ion-item>
          <ion-select
            interface="popover"
            placeholder="Select Time"
            [value]="timeWindow.time_window"
            (ionChange)="updateTimeWindow($event)"
          >
            <ion-select-option value="day">Day</ion-select-option>
            <ion-select-option value="week">Week</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-movie-list
    [items]="items"
    (loadMoreItems)="loadMore($event)"
  ></app-movie-list>
</ion-content>
