<ion-app>
  <!-- Side Menu -->
  <app-menu></app-menu>

  <!-- Main Content -->
  <ion-router-outlet id="main-content"></ion-router-outlet>

  <!-- Bottom Tab Menu -->
  <ion-tabs *ngIf="deviceType.device.device === 'mobile'">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="discover">
        <ion-icon name="compass-outline"></ion-icon>
        <ion-label>Discover</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="search">
        <ion-icon name="search-outline"></ion-icon>
        <ion-label>Search</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
