<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"> </ion-menu-button>
    <ion-title>Discover</ion-title>

    <!-- Filters -->
    <div slot="end" class="filters-box">
      <!-- Media Type -->
      <div class="filter-media">
        <ion-select
          interface="popover"
          placeholder="Select Media"
          [value]="mediaType.media_type"
          (ionChange)="updateMediaType($event)"
        >
          <ion-select-option value="movie">Movies</ion-select-option>
          <ion-select-option value="tv">Shows</ion-select-option>
        </ion-select>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Discover Filters -->
  <ion-accordion-group expand="inset">
    <!-- Sort -->
    <ion-accordion>
      <ion-item slot="header">
        <ion-label>Sort</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">First Content</div>
    </ion-accordion>

    <!-- Filters -->
    <ion-accordion>
      <ion-item slot="header">
        <ion-label>Filters</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Second Content</div>
    </ion-accordion>

    <!-- Where to Watch -->
    <ion-accordion>
      <ion-item slot="header">
        <ion-label>Where to Watch</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Third Content</div>
    </ion-accordion>
  </ion-accordion-group>

  <app-item-list
    [items]="items"
    (loadMoreItems)="loadMore($event)"
  ></app-item-list>
</ion-content>
